<body class="bg-[#FAFBFF]">
<div class="flex flex-row gap-20">
  <div>THIS IS SIDEBAR</div>
  <div class="flex flex-col bg-[#FFFFFF] shadow-[0_10px_60px_rgba(226,236,249,0.5)] rounded-[30px] w-full mt-10 mr-20 mb-10 p-8">
    <div class="flex flex-row justify-between">
      <div class="text-2xl font-semibold w-2xl">
        <h1>Settings</h1>
      </div>
      <div
        class="w-[216px] h-[38px] bg-[#FFFFFF] shadow-[0_10px_60px_rgba(226,236,249,0.5)] rounded-[12px] flex items-center px-3 gap-2">
        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
            stroke="#7E7E7E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21 21L16.65 16.65" stroke="#7E7E7E" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>

        <input type="text" placeholder="Search"
               class="w-full h-full border-none outline-none text-sm text-gray-700 placeholder-gray-400 bg-transparent"/>
      </div>
    </div>
    <div class="flex flex-row items-center mt-10">
      <div class="w-[137px] h-[137px] border border-black rounded-full">
        <img src="/ppGRED.png" alt="gred">
      </div>
        <div class="grid grid-rows-3 gap-5 ml-15">
          <div class="flex flex-row justify-between gap-10 bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
            <label class="text-lg font-semibold">Profile Name</label>
            <label class="text-[#7E7E7E] mr-5">GRED Ayam Tempong</label>
          </div>
          <div class="flex flex-row gap-17 bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
            <label class="text-lg font-semibold">Authority</label>
            <label class="text-[#7E7E7E]">Teacher</label>
          </div>
          <div class="bg-black shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4 mr-50">
            <label class="text-white">Edit Profile Picture</label>
          </div>
        </div>
    </div>
    <div class="grid grid-cols mt-20 gap-8">
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>
      <div class="flex flex-row justify-between bg-[#FFFFFF] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[15px] p-4">
        <label class="text-lg font-semibold">Theme Selection</label>
        <label class="text-[#7E7E7E]">Light</label>
      </div>

    </div>
  </div>
</div>
</body>


